<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album</title>
</head>
<body>
    <h1>Album de figuritas</h1>
    @foreach(Figurita figurita in ViewBag.figuritas)
    {
        if (figurita.Cantidad >= 1)
        {
            <img src="@figurita.Imagen" alt="Figurita" />
        }
        else
        {
            <img src="/images/figu vacia.png">
        }
    }
    <br>
    <a class="boton" href='@Url.Action("Sobre", "Home")'>Abrir Sobre</a>
    <a class="boton" href='@Url.Action("Repetidas", "Home")'>Ver repetidas</a>
    <a class="boton rojo" href='@Url.Action("ReiniciarAlbum", "Home")'>Reiniciar Album</a>
    <p>Porcentaje: @ViewBag.porcentaje %</p>
</body>
</html>